<img class="main-route-image" src="/assets/design-images/nature-1.jpg" >

<div class="main-route-details">
  <h1 class="animate-item">Routing in Angular</h1>
  <p class="animate-item">
    Animating routes in Angular is much the same as querying for elements and animating them.
  </p>

  <p class="animate-item">
    When a route change happens, the router will signal a top-level animation trigger about the change.
  </p>

  <p class="animate-item">
    The first thing to do is to setup a
    <a href="" class="help-link" appCodeModalClick="/assets/code/route-container-def-simple.example-html">@routerAnimations trigger</a> in your app component.
  </p>

  <div class="next-button button" routerLink="/routing/page2">Next</div>
</div>
