<div class="image-placeholder"></div>

<h1 class="animate-item">Page 1</h1>

<p class="animate-item">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at placerat nulla. Curabitur gravida ullamcorper pulvinar. Nullam condimentum libero at maximus dictum. Nulla at ipsum justo. Phasellus condimentum risus ac laoreet posuere. Vestibulum id metus non elit semper pulvinar. In ac dolor porta, pulvinar magna sit amet, sagittis odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean gravida diam a mollis elementum. Ut malesuada eu sem nec fringilla. Maecenas congue rutrum quam at rutrum. Nulla sem ligula, malesuada id semper sed, euismod eget mauris. Etiam cursus justo quis semper fringilla. Nulla vehicula quam dolor. Suspendisse eget est eget urna ultrices dignissim et aliquam arcu.
</p>

<p class="animate-item">
  Fusce eget arcu nisl. Ut placerat eu enim ut pretium. Phasellus venenatis, justo a fringilla ornare, nisl leo ultricies sapien, in tincidunt nisi est quis erat. Aenean at velit nibh. Suspendisse blandit sem enim, at fermentum lorem faucibus a. Phasellus tellus augue, lobortis non urna id, tincidunt tristique mauris. Duis quis nibh maximus, maximus sapien non, blandit risus. Proin vitae magna vel ante consectetur interdum. Donec posuere nisi sed rutrum faucibus. Donec bibendum arcu augue, quis sagittis leo interdum in. In hac habitasse platea dictumst. Sed a cursus nulla. Nullam mollis sapien elit, at ultricies lectus feugiat sit amet. Duis suscipit, risus id varius egestas, sapien orci ultrices risus, eu placerat dui purus eu erat.
</p>

<div class="next-button">Next</div>
