:host {
  display:block;
}

:host > .builder-area:first-child {
  .left, .right {
    padding-top:100px;
    font-size:2rem;
  }
}

.player-actions {
  margin-top:50px;
  margin-bottom:50px;

  input {
    width:80%;
    margin:0 auto;
  }

  .label {
    font-size:1.5rem;
    display:inline-block;
    vertical-align: middle;
    padding:0 5px;
  }
}


.builder-area {
  display:table;
  width:100%;
}

.builder-area pre {
  padding:50px!important;
}

.builder-area .left, .builder-area .right {
  width:50%;
  overflow-x:auto;
  vertical-align: middle;
  display:table-cell;
}

.builder-area:not(.reverse) .left, .builder-area.reverse .right {
  padding-left:50px;
  padding-right:50px;
}

.design-image {
  height:300px;
  overflow:hidden;

  img {
    width:100%;
  }
}
