<div class="sections builder-area">
  <div class="left">
    <h1>Animation Builder</h1>
    <p>
      Animations can also be constructed/sequenced within a component (instead of just the metadata).
    </p>
    <p>
      By injecting <span class="em">AnimationBuilder</span> into your component.
    </p>
    <p>
      And then building an animation player.
    </p>
    <div class="player-actions">
      <span class="label">0%</span>
      <input type="range" [(ngModel)]="position" min="0" max="100" step="0.1" [disabled]="scrubber.playing" />
      <span class="label">100%</span>
    </div>
    <nav class="help-actions">
      <a href="" class="help-link" appCodeModalClick="/assets/code/builder-page-list-animation.example-ts">View Component Code</a>
      <a href="" class="help-link" appCodeModalClick="/assets/code/builder-page-list-scrubber.example-ts">View Scrubber Code</a>
    </nav>
  </div>
  <div class="right">
    <app-photo-scrubber #scrubber [position]="position" [photos]="photos"></app-photo-scrubber>
  </div>
</div>
