<img class="main-route-image" src="/assets/design-images/people-2.jpg" >

<div class="main-route-details">
  <h1>Route Animation Code</h1>

  <p class="bullet-point">
    Routes can be defined with
    <a href="" class="help-link" appCodeModalClick="/assets/code/route-definitions.example-ts">animation configuration details</a>
  </p>

  <p class="bullet-point">
    The route data is set to be passed
    <a href="" class="help-link" appCodeModalClick="/assets/code/route-container-def.example-html">into the top top-level trigger</a> when a route changes
  </p>

  <p class="bullet-point">
    Now a page animation can be handled between the pages
  </p>

  <div class="next-button button" routerLink="/routing/page3">Next</div>
</div>
