<img class="main-route-image" src="/assets/design-images/people-2.jpg" >

<div class="main-route-details">
  <h1 class="animate-item">Route Animation Code</h1>

  <p class="animate-item">
    Routes can be defined with
    <a href="" class="help-link" appCodeModalClick="/assets/code/route-definitions.example-ts">animation configuration details</a>.
  </p>

  <p class="animate-item">
    The route data is set to be passed
    <a href="" class="help-link" appCodeModalClick="/assets/code/route-container-def.example-html">into the top top-level trigger</a> when a route changes.
  </p>

  <p class="animate-item">
    Now a page animation can be handled between the pages.
  </p>

  <div class="next-button button" routerLink="/routing/page3">Next</div>
</div>
