:host {
  display:block;
  padding-top:100px;
  position:relative;
  height:100vh;
}

:host:before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background:url(/assets/bg.jpg);
  opacity:0.5;
}

.logo {
  font-size:20vh;
}

.logo span {
  display:block;
}

.logo .angular {
  display:block;
  padding-left:250px!important;
  background:url(/assets/angular.png) no-repeat 0 0;
  background-size: auto 20vh;
}

.logo .animation {
  padding-left:400px;
}

.logo .movie {
  padding-left:600px;
}

.content {
  width:80%;
  margin:0 auto;
  position:relative;
  z-index:1000;
}
