:host {
  display:block;
  padding-top:15vh;
  position:relative;
  height:100vh;
}

:host:before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.logo {
  text-transform: uppercase;
  font-size:8vw;
}

.logo span {
  display:block;
}

.content {
  width:90%;
  margin:0 auto;
  position:relative;
  z-index:1000;
}

.viking {
  position:fixed;
  top:50%;
  transform:translateY(-50%);
  right:5%;
  width:40%;
}
