:host {
  display:block;
}

.photo-record {
  display:inline-block;
  width:50%;
  height:100px;
  position:relative;
  overflow:hidden;
}

.photo-record img {
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width:110%;
}
