.button {
  padding:1rem;
  font-size:1.5rem;
  background:#222;
  color:white;
  border:0;
  text-transform: uppercase;
  font-weight:bold;
  cursor:pointer;

  &:active {
    outline:0;
  }

  &:hover {
    background:#202020;
  }
}
