@import "./_colors";

app-root,
app-basics-page,
app-advanced-page,
app-routing-page,
app-route-page1,
app-route-page2,
app-route-page3,
app-route-page4,
app-builder-page,
app-new-features-page,
app-code-example {
  display:block;
}

app-root {
  position:relative;
  height:100%;
}

.menu > li {
  cursor:pointer;
  padding:1rem 2rem;
  transition:0.25s ease-out all;
  color:$greyColor;
  font-size:1.5rem;
}

.menu > li.selected, .menu > li:hover  {
  padding-left:4rem;
  background:$blueColor;
  color:white;
}

.menu > li + li {
  border-top:1px solid #000;
}
