@import "./_colors";

.main-navigation {
  padding:20px;
  overflow:auto;
  border-bottom:1px solid #ddd;
  text-align:right;
}

.main-navigation > a {
  display:inline-block;
  padding:0 10px;
}

.main-navigation a {
  color:white;
  letter-spacing: 2px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight:bold;
  font-size:0.8rem;
  text-decoration:none;
  border-bottom:5px solid transparent;
  padding-bottom:5px;
}

.main-navigation > a:first-child {
  float:left;
}

.main-navigation > a.active {
  color:$redColor;
  border-bottom-color:$redColor;
}
