*, *:before, *:after {
  box-sizing:border-box;
}

html, body {
  position:relative;
  height:100%;
  padding:0;
  margin:0;
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
  display:block;
  padding:0;
  margin:0;
}

ol, ul, li {
  display:block;
  padding:0;
  margin:0;
}

html, #wrapper {
  color:white;
  background:black url(/assets/bg-dark.png);
}

app-root {
  width:80%;
  margin:0 auto;
  background:#222 url(/assets/bg-light.png);
}
