<app-navigation></app-navigation>

<div class="main-stage" [@codeExampleAnimation]="showCodeExample">
  <div class="router-container" [@routerContainerAnimation]="showCodeExample" [@routeAnimation]="prepRouteAnimation(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div *ngIf="showCodeExample" (click)="closeCodeExample()" class="code-close-surface">
    <div class="trigger"></div>
  </div>
  <app-code-example class="code-container" *ngIf="showCodeExample"></app-code-example>
</div>

<app-modal #modal></app-modal>

<app-tool-tip #tooltip></app-tool-tip>
