@import "../../styles/_colors";

:host {
  display:block;
}

.resources > .cell {
  display:inline-block;
  width:calc(33% + 3px);
  position:relative;
  margin-left:-3px;
  overflow:hidden;
  height:100vh;
  text-align: center;
  padding:20px;
  vertical-align: top;
  font-size:1.5rem;

  .avatar {
    position:absolute;
    height:120%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }

  .heading {
    text-transform:uppercase;
    color:white;
  }

  .content {
    background:#111;
    padding:1em;
    position: absolute;
    width:500px;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);

    .item {
      line-height:100%;
      font-size:2rem;

      a {
        &,&:link,&:active,&:visited,&:hover {
          color:white;
          text-decoration:underline;
        }
      }
    }
  }
}
