<nav class="main-navigation">
  <a href="" [class.active]="isActiveRoute('/')" routerLink='/'>Home</a>
  <a href="" [class.active]="isActiveRoute('/basics')" routerLink='/basics'>Basics</a>
  <a href="" [class.active]="isActiveRoute('/advanced')" routerLink='/advanced'>Advanced</a>
  <a href="" [class.active]="isActiveRoute('/routing')" routerLink='/routing'>Routing</a>
  <a href="" [class.active]="isActiveRoute('/programmatic')" routerLink='/programmatic'>Animation Builder</a>
</nav>

<nav class="sup-navigation">
  <span appToolTipHover="animations">
    <span class="fa fa-superpowers"></span>
    <span [@counterChangeAnimation]="totalAnimations">{{ totalAnimations }}</span>
  </span>
  <span class="animation-toggle" (click)="toggleDisableAnimations()" [class.disabled]="animationsDisabled()"><span class="fa fa-power-off"></span> </span>
</nav>
