<img class="main-route-image" src="/assets/design-images/dinner-3.jpg" >

<div class="main-route-details">
  <h1>The Router Animation</h1>

  <p class="bullet-point">
    Now when the routes change (say from home => profile) <a href="" class="help-link" appCodeModalClick="/assets/code/route-animation-def.example-ts">an animation will occur for that transition</a>
  </p>

  <p class="bullet-point">
    Each transition consists of a new page (:enter) and a removed page (:leave)
  </p>

  <p class="bullet-point">
    Using these pages we can animate a <a href="" class="help-link" appCodeModalClick="/assets/code/route-animation-query-def.example-ts">nice animation between them</a>
  </p>

  <div class="next-button button" routerLink="/routing/page4">Next</div>
</div>
