<img class="main-route-image" src="/assets/design-images/tech-1.jpg" >

<div class="main-route-details">
  <h1 class="animate-item">The Router Animation</h1>

  <p class="animate-item">
    Now when the routes change (say from home => profile), we can have an <a href="" class="help-link" appCodeModalClick="/assets/code/route-animation-def.example-ts">animation occur for that transition</a>.
  </p>

  <p class="animate-item">
    Each transition consists of a new page (:enter) and a removed page (:leave).
  </p>

  <p class="animate-item">
    Using these pages we can animate a <a href="" class="help-link" appCodeModalClick="/assets/code/route-animation-query-def.example-ts">nice animation between them</a>.
  </p>

  <div class="next-button button" routerLink="/routing/page4">Next</div>
</div>
