.advanced-area {
  display:table;
  width:100%;
}

.side-area, .gallery-area {
  vertical-align: top;
  display:table-cell;
}

.side-area {
  padding:100px 1rem 0;
}

.gallery-area {
  width:80%;
  position:relative;
  overflow:hidden;
  &:before {
    content:"";
    width:10px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:100;
  }
}

.gallery-area .photo-record {
  width:25%;
  display:inline-block;
  height:20vh;
  border:1px solid black;
  text-align:center;
  transition:0.2s ease-out all;
  position:relative;
  overflow:hidden;
  margin-top:-5px;
}

.gallery-area .photo-record:hover {
  transform:scale(1.05);
  position:relative;
  z-index:100;
}

.photo-record .title {
  font-size:4rem;
  display:block;
  line-height:200px;
}

.photo-record img {
  position:absolute;
  left:-10%;
  width:120%;
  top:50%;
  transform:translateY(-50%);
}

.g0 { background:#444; }
.g1 { background: #494949; }
.g2 { background: #555; }
.g3 { background: #595959; }

input {
  padding:20px;
  border:0;
  background:#333;
  font-size:1.2rem;
  width:100%;
  color:white;
  text-transform: uppercase;
  margin-bottom:20px;
}

input:focus {
  outline:2px solid maroon;
}

input:not(:empty) {
  background:#555
}
