@import "../node_modules/normalize-scss/sass/_normalize.scss";
@import "./styles/_reset";
@import "./styles/_components";
@import "./styles/_colors";
@import "./styles/_font_awesome";
@import "./styles/_range";
@import "./styles/_buttons";
@import "../node_modules/prismjs/themes/prism.css";
@import "../node_modules/prismjs/themes/prism-okaidia.css";

$FontPathOpenSans: "/assets/fonts/open-sans";
@import "../node_modules/npm-font-open-sans/open-sans.scss";

@import "./styles/_page_header";

.sections {
  overflow-x:hidden;
}

#wrapper {
  background:url(/assets/square-bg.png);
  position:relative;
  &:before {
    content:"";
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    height:80px;
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
}

.sections > section {
  display:inline-block;
  vertical-align: top;
  min-height:1000px;
}

.sections > section > .data {
  position:relative;
}

.sections > section + section {
  margin-left:-5px;
  border-left:1px solid black;
}

.sections > section > header {
  text-align:center;
}

section.intro-section {
  cursor:pointer;
}

.content-image {
  width:100%;
}

app-route-page1,
app-route-page2,
app-route-page3,
app-route-page4,
app-route-page5 {
  display:block;
  position:relative;
  overflow:hidden;
  height:100%;
}

app-routing-page, .router-container, .main-route-container {
  height:100%;
  position:relative;
}

.main-route-navigation {
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  z-index:100;
  color:white;

  a {
    color:white;
    font-size:2rem;
    padding:10px 20px;
    display:inline-block;
    margin-left:-3px;

    &:hover {
      background:#333;
    }

    &.active {
      background:$blueColor;
    }
  }
}

.main-route-image {
  width:120%;
  left:-10%;
  top:-10%;
  position:absolute;
}

.main-route-details {
  font-size:1.8rem;
  position:absolute;
  padding:60px;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
  text-align:center;
  width:50%;
  background:#111;
  color:white;
  z-index:100;
}

.help-link {
  display:table;
  margin:10px auto;
  background:$redColor;
  padding:10px;
  color:white;

  &:hover {
  background:$redColor2;
  }
}

nav.help-actions {
  text-align:center;
  & > .help-link {
    display:inline-block;

    & + .help-link {
      margin-left:20px;
    }
  }
}

.loading {
  height:100%;
  position:relative;
  text-indent:-9999px;
  &:before {
    content:"";
    width:50px;
    height:50px;
    position:absolute;
    top:100px;
    left:50%;
    margin-left:-50px;
    margin-top:-50px;
    animation: rotate 800ms infinite linear, upDown 1200ms infinite ease-in-out alternate;
    background:red;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes upDown {
  from { top:100px; }
  to { top: 300px; }
}

.bullet-point:before {
  content:"- ";
}
